h2 {
    color: #FF0000;
    margin-top: 12px;
    margin-left: 10px;
}


ol {
    color: #5F5F5F;
    margin-left: 91px;
}


img {
    margin-left: 79px;
}


p {
    color: #5B5B5B;
    margin-left: 10px;
}